<div data-controller="dismissable">
    <div data-state="open" class="<%= @attrs[:class_state] %>" style="pointer-events:auto" data-aria-hidden="true" aria-hidden="true"></div>
    <div role="alertdialog" data-state="open" class="<%= @attrs[:class_content] %>" style="pointer-events:auto">
    <%= content %>
    </div>
</div>
    