<div class="space-y-2">
  <%= render(Ui::Typography::H1Component.new) do %>
    <%= @title %>
  <% end %>
  <%= render(Ui::Typography::LeadComponent.new) do %>
    <%= @description %>
  <% end %>
</div>