<%= render(ThemeToggleComponent.new(theme:false)) do |component| %>
  <% component.with_dark do %>
    <button data-action="click->theme-toggle#toggle" data-theme-toggle-target="toggleButton" class="theme-toggle-button">
      Modo oscuro
    </button>
  <% end %>
  <% component.with_light do %>
    <button data-action="click->theme-toggle#toggle" data-theme-toggle-target="toggleButton" class="theme-toggle-button">
      Modo claro
    </button>
  <% end %>
<% end %>

<div>
  <%=render(Alert::BuilderAlertComponent.new()) do |component|
      component.with_icon do
        "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' class='w-5 h-5'><path fill_rule='evenodd' d='M9.315 7.584C12.195 3.883 16.695 1.5 21.75 1.5a.75.75 0 01.75.75c0 5.056-2.383 9.555-6.084 12.436A6.75 6.75 0 019.75 22.5a.75.75 0 01-.75-.75v-4.131A15.838 15.838 0 016.382 15H2.25a.75.75 0 01-.75-.75 6.75 6.75 0 017.815-6.666zM15 6.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z' clip_rule='evenodd' /></svg>".html_safe
      end
      component.with_title do
        "holaaa"
      end
      component.with_description do
        "Descripción de la alertazzz"
      end
    end%>
  <div>
    <%=render Accordion::BuilderComponent.new do |accordion|
      accordion.with_item("Item 1", "Content 1")
      accordion.with_item("Item 2", "Content 2")
      accordion.with_item("Item 3", "Content 3")
    end%>
  </div>
</div>
