<%= render(Typography::H1Component.new()) do %>
A UI component library, crafted precisely for Ruby devs
<p class="text-foreground opacity-30">who want to stay organised and build modern apps, fast.</p>
<% end %>
